html
  head
    title!= title
    link(rel="stylesheet", href="css/vendor/reset.css")
    link(rel="stylesheet", href="css/screen.css")
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900', rel='stylesheet', type='text/css')
    script(type="text/javascript", src="http://localhost:48626/takana.js")
  body
    .header
      .logo issuu maze
      .nav
        select.nav__item.js-choose-layout
          label Maze layout:
          option(value='default', selected) Maze type: default
          option(value='hallway') Maze type: hallway
          option(value='spiral') Maze type: spiral
          option(value='looper') Maze type: looper
          option(value='multi') Maze type: multi
          option(value='random') Maze type: random
        .nav__item.js-top-view-btn Top view
        .nav__item.js-search-nav-btn Search
    .front.js-front
      .front__inner.js-front-inner
        h2.front__title Choose your interest
        .search
          input(class='search__text js-search-text', type="text", placeholder="Enter keywords...")
          input(class='search__btn js-search-btn', type="button", value="Go!")
    .maze-wrapper.js-maze-wrapper
      .maze.js-maze
    ul.feature-toggles
      li.feature-toggles__item
        input(class="js-feature-toggle" data-ref="walkThroughWalls" type="checkbox")
        span Walk through walls
      li.feature-toggles__item
        input(class="js-feature-toggle" data-ref="magnifyingGlass" type="checkbox")
        span Magnifying glass
      li.feature-toggles__item
        input(class="js-feature-toggle" data-ref="debugger" type="checkbox")
        span Debugger
    .nav-bottom
      //- a(class="nav-bottom__item github-source", href="https://github.com/ckastbjerg/issuu-maze" target="_blank")
      //-   span Get source
      .powered-by.nav-bottom__item
        a(href="http://issuu.com" target="_blank")
          span Powered by
          //- img(src="http://static.issuu.com/uic/368/dist/images/logo-part1.png", alt="")
          img(src="http://static.issuu.com/uic/368/dist/images/logo-part2.png", alt="")
    script(src="js/vendor/jquery.js")
    script(src="js/main.js")
