html
  head
    title!= title
    link(rel="stylesheet", href="css/vendor/reset.css")
    link(rel="stylesheet", href="css/screen.css")
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900', rel='stylesheet', type='text/css')
    script(type="text/javascript", src="http://localhost:48626/takana.js")
  body
    .header
      .logo issuu maze
      .nav
        .nav__item.js-top-view-btn Top view
        .nav__item.js-search-nav-btn Search
        select.nav__item.js-choose-layout
          label Maze layout:
          option(value='default', selected) Layout: random
          option(value='hallway') Layout: hallway
          option(value='emptyroom') Layout: simple
          option(value='designed') Layout: custom
    .interests.js-interests
      .interests__inner.js-interests-inner
        h2.interests__title Choose your interest
        .search
          input(class='search__text js-search-text', type="text", placeholder="Enter keywords...")
          input(class='search__btn js-search-btn', type="button", value="Go!")
    .maze-wrapper.js-maze-wrapper
      .maze.js-maze
    script(src="js/vendor/jquery.js")
    script(src="js/main.js")
