/* Base styles
   ========================================================================== */

*, *:before, *:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}


body {
	color: #7b95a5;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	background: #253139;
}

body.js-god-mode:before {
	content: '';
	background: url(../assets/gun.gif) no-repeat;
	position: absolute;
	background-size: 500px;
	bottom: 92px;
	left: 50%;
	margin-left: -250px;
	width: 500px;
	height: 500px;
	z-index: 2000;
}

body.js-god-mode:after {
	content: '';
	background: url(../assets/panel.png) no-repeat;
	position: absolute;
	background-size: 100%;
	bottom: 0;
	left: 50%;
	margin-left: -400px;
	width: 800px;
	height: 92px;
	z-index: 2000;
}

input {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

img {
	width: 100%;
}



/* Animations
   ========================================================================== */

@-webkit-keyframes page-slide {
    100% { left: 0; }
}

@keyframes page-slide {
    100% { left: 0; }
}



/* Logo (text)
   ========================================================================== */

.logo {
	z-index: 1001;
	position: absolute;
	top: 10px;
	left: 10px;
	color: white;
	opacity: .75;
	line-height: 34px;
	text-shadow: 0 -1px 0px #000;
}



/* Top view btn
   ========================================================================== */

.nav {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1001;
}

.nav__item {
	text-align: center;
	-webkit-appearance: none;
	display: inline-block;
	border: none;
	border-radius: 20px;
	outline: none;
	line-height: 34px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 16px;
	color: #f8f8f8;
	background: rgba(0, 0, 0, 0.2);
	padding: 0 10px;
	cursor: pointer;
	margin-left: 10px;
	opacity: .75;
	transition: .15s;
}

.nav__item:hover {
	opacity: 1;
	color: #46BE5E;
}

/* Search
   ========================================================================== */


.search {
	margin: 32px 0;
}

.search__text,
.search__btn {
	-webkit-appearance: none;
	transition: .4s;
	padding: 15px;
	font-size: 22px;
	border: 0;
	height: 70px;
}

.search__text {
	color: #495B66;
	background-color: #1c252b;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 75%;
}

.search__text:focus {
	background-color: #fff;
	outline: none;
}

.search__btn {
	color: #f8f8f8;
	background-color: #46BE5E;
	width: 25%;
	cursor: pointer;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.search__btn:focus,
.search__btn:active {
	background-color: #888;
	outline: none;
}



/* Interests
   ========================================================================== */

.interests {
	z-index: 1000;
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;
	visibility: visible;
	opacity: .85;
	transition: 1s;
}

.interests.js-hide {
	opacity: 0;
	visibility: hidden;
}

.interests.js-show {
	transform: scale(.9);
}

.interests__inner {
	display: table-cell;
	vertical-align: middle;
	padding: 5% 15%;
	text-align: center;
}

.interest {
	transition: .25s;
	display: inline-block;
	margin-right: 10px;
	line-height: 25px;
	cursor: pointer;
}

.interests__title {
	font-size: 46px;
	margin-bottom: 16px;
	font-weight: 200;
	color: #46BE5E;
}

.interest:hover {
	color: #46BE5E;
}

.interest--main {
	font-size:18px;
	font-weight: bold;
}

.interest--sub {
	font-size: 16px;
}

.subinterest:after {

}

/* Container
   ========================================================================== */

.maze-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: calc(-400px/2);
	margin-top: calc(-400px/2);
	width: 400px;
	height: 400px;
	perspective: 1000px;
	transition: 1s;
}

.maze-wrapper.js-opague {
	opacity: .1;
}



/* Maze
   ========================================================================== */

.maze {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform .5s;
}

.maze__floor {
	position: absolute;
	background-color: #1c252b;
	transform: rotateX(90deg) translateZ(800px) translate3d(0, 800px, 0);
}

.maze__wall {
	position: absolute;
	left: 0;
	background: #3c505d;
	opacity: 0;
	width: 400px;
	height: 400px;
	display: block;
	overflow: hidden;
	transition: 2s;
	border-top: 30px solid #3c505d;
	border-right: 60px solid #3c505d;
	border-bottom: 30px solid #3c505d;
	border-left: 60px solid #3c505d;
}

.js-god-mode .maze__wall {
	background: url(../assets/wall.png);
	border-top: 30px solid transparent;
	border-right: 60px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 60px solid transparent;
}

.js-god-mode .maze__wall:before {
	content: '';
	position: absolute;
	background-size: 200px;
	bottom: 0;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	height: 200px;
	z-index: 2000;
	transform: translate(0px, 0px) translateZ(100px) scale(1);
}

.js-god-mode .maze__wall:nth-child(4n+1):before {
	background: url(../assets/enemy.gif) no-repeat;
}

.js-god-mode .maze__wall:nth-child(4n+2):before {
	background: url(../assets/enemy2.gif) no-repeat;
}

.js-god-mode .maze__wall:nth-child(4n+3):before {
	background: url(../assets/enemy3.gif) no-repeat;
}

.js-god-mode .maze__wall:nth-child(4n+4):before {
	background: url(../assets/enemy4.gif) no-repeat;
}

.maze__wall.js-show {
	opacity: .9;
}

.maze.js-fade .maze__wall:not(.js-reading) {
	opacity: .2;
}

.maze__wall.js-reading {
	opacity: 1;
}

.maze__wall:hover {
	opacity: 1;
}

.maze__wall img.js-animate-in {
	position: absolute;
	left: 100%;
	-webkit-animation: page-slide 0.5s forwards;
	animation: page-slide 0.5s forwards;
}

.maze__wall img.js-previous-page {
	display: none;
}

.maze__wall img.js-next-page {
	display: none;
}


.github-source {
	z-index: 2000;
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: white;
	text-decoration: none;
	width: 30px;
	height: 30px;
	display: block;
	background: url(../assets/github.png) no-repeat;
	background-size: 30px;
}


/* Debugger
   ========================================================================== */

.debugger {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: black;
	color: white;
	opacity: .7;
	z-index: 999;
	padding: 5px;
}

.debugger span {
	margin-right: 10px;
}
